<div class="navbar">
  <div class="navbar-user">
    <mat-form-field appearance="outline" style="margin-top:1rem">
      <mat-select [value]="selectedOption">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="navbar-setting" style="display: flex;align-items: center;">
    <mat-icon>account_circle</mat-icon> 
    <div class="user-info" style="margin-left:5px">DIST A(閉)</div>
  </div>
  <!-- <div class="navbar-setting">
    <svg
      width="24"
      height="25"
      viewBox="0 0 24 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      [matMenuTriggerFor]="menu"
    >
      <g clip-path="url(#clip0_182_936)">
        <path
          d="M12.6903 23.5H11.3096C10.1929 23.5 9.28433 22.5915 9.28433 21.4748V21.0076C8.80957 20.856 8.3483 20.6645 7.90516 20.4352L7.57413 20.7662C6.77238 21.5689 5.48809 21.5454 4.70962 20.7659L3.73376 19.7901C2.95392 19.0111 2.93149 17.7272 3.73402 16.9256L4.06479 16.5948C3.83546 16.1517 3.64404 15.6905 3.49232 15.2156H3.02525C1.90857 15.2156 1 14.3071 1 13.1904V11.8096C1 10.6929 1.90857 9.78438 3.02529 9.78438H3.49236C3.64408 9.30957 3.83551 8.84834 4.06483 8.40521L3.7338 8.07422C2.93175 7.27302 2.95388 5.98903 3.73406 5.20971L4.71001 4.2338C5.49028 3.45246 6.77427 3.43295 7.57448 4.23406L7.90521 4.56479C8.34834 4.33551 8.80961 4.14404 9.28438 3.99232V3.52525C9.28438 2.40853 10.1929 1.5 11.3097 1.5H12.6904C13.8071 1.5 14.7156 2.40853 14.7156 3.52525V3.99236C15.1904 4.14404 15.6517 4.33551 16.0948 4.56483L16.4258 4.2338C17.2276 3.43106 18.5119 3.45461 19.2903 4.2341L20.2662 5.20992C21.046 5.9889 21.0685 7.27277 20.2659 8.07443L19.9352 8.40521C20.1645 8.84834 20.3559 9.30953 20.5076 9.78438H20.9747C22.0914 9.78438 23 10.6929 23 11.8096V13.1904C23 14.3071 22.0914 15.2156 20.9747 15.2156H20.5076C20.3559 15.6904 20.1645 16.1517 19.9352 16.5948L20.2662 16.9258C21.0683 17.727 21.0461 19.011 20.2659 19.7903L19.29 20.7662C18.5097 21.5476 17.2257 21.5671 16.4255 20.766L16.0948 20.4353C15.6517 20.6645 15.1904 20.856 14.7156 21.0077V21.4748C14.7156 22.5915 13.8071 23.5 12.6903 23.5ZM8.12065 19.0815C8.73627 19.4456 9.39884 19.7206 10.09 19.899C10.3746 19.9724 10.5734 20.2291 10.5734 20.5231V21.4748C10.5734 21.8807 10.9037 22.2109 11.3097 22.2109H12.6904C13.0963 22.2109 13.4266 21.8807 13.4266 21.4748V20.5231C13.4266 20.2291 13.6255 19.9724 13.9101 19.899C14.6012 19.7206 15.2638 19.4456 15.8794 19.0815C16.1327 18.9317 16.4552 18.9725 16.6633 19.1806L17.3374 19.8547C17.628 20.1457 18.0947 20.1389 18.3782 19.855L19.3548 18.8785C19.6376 18.596 19.6471 18.1292 19.355 17.8376L18.6807 17.1632C18.4726 16.9551 18.4319 16.6326 18.5816 16.3793C18.9457 15.7638 19.2207 15.1012 19.399 14.41C19.4725 14.1254 19.7292 13.9266 20.0231 13.9266H20.9748C21.3807 13.9266 21.711 13.5963 21.711 13.1904V11.8097C21.711 11.4037 21.3807 11.0735 20.9748 11.0735H20.0231C19.7292 11.0735 19.4725 10.8746 19.399 10.59C19.2207 9.89889 18.9456 9.23631 18.5816 8.62074C18.4319 8.36748 18.4726 8.04496 18.6807 7.8369L19.3548 7.16277C19.6462 6.8717 19.6386 6.40506 19.355 6.12185L18.3786 5.14538C18.0955 4.86196 17.6287 4.85367 17.3377 5.14512L16.6633 5.81952C16.4553 6.02762 16.1326 6.06835 15.8794 5.91856C15.2638 5.55449 14.6012 5.27945 13.9101 5.10108C13.6255 5.02765 13.4266 4.77095 13.4266 4.477V3.52525C13.4266 3.11932 13.0963 2.78906 12.6904 2.78906H11.3097C10.9038 2.78906 10.5735 3.11932 10.5735 3.52525V4.47692C10.5735 4.77087 10.3746 5.02756 10.09 5.101C9.39889 5.27936 8.73631 5.5544 8.1207 5.91848C7.86735 6.06822 7.54487 6.02749 7.33682 5.81943L6.66272 5.1453C6.37208 4.85431 5.90531 4.86106 5.62185 5.145L4.6453 6.1215C4.36248 6.40398 4.35302 6.87075 4.64504 7.16242L5.31943 7.83682C5.52749 8.04487 5.56822 8.36739 5.41848 8.62065C5.0544 9.23622 4.7794 9.8988 4.60104 10.59C4.52756 10.8746 4.27087 11.0734 3.97696 11.0734H3.02529C2.61936 11.0734 2.28906 11.4037 2.28906 11.8096V13.1904C2.28906 13.5963 2.61936 13.9266 3.02529 13.9266H3.97692C4.27087 13.9266 4.52752 14.1254 4.601 14.41C4.77936 15.1012 5.0544 15.7637 5.41843 16.3793C5.56818 16.6326 5.52745 16.9551 5.31939 17.1631L4.64525 17.8373C4.35384 18.1283 4.36145 18.595 4.645 18.8782L5.62146 19.8547C5.9045 20.1381 6.37131 20.1464 6.66238 19.8549L7.33673 19.1805C7.49004 19.0273 7.809 18.8972 8.12065 19.0815Z"
          fill="#45494E"
        />
        <path
          d="M12.0001 17.2867C9.36066 17.2867 7.21338 15.1394 7.21338 12.5C7.21338 9.86061 9.36066 7.71329 12.0001 7.71329C14.6395 7.71329 16.7868 9.86061 16.7868 12.5C16.7868 15.1394 14.6395 17.2867 12.0001 17.2867ZM12.0001 9.00235C10.0714 9.00235 8.50244 10.5714 8.50244 12.5C8.50244 14.4286 10.0715 15.9977 12.0001 15.9977C13.9287 15.9977 15.4978 14.4286 15.4978 12.5C15.4978 10.5714 13.9288 9.00235 12.0001 9.00235Z"
          fill="#45494E"
        />
      </g>
      <defs>
        <clipPath id="clip0_182_936">
          <rect
            width="22"
            height="22"
            fill="white"
            transform="translate(1 1.5)"
          />
        </clipPath>
      </defs>
    </svg>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changePassword()">
        <span>Change Password</span>
      </button>

      <button mat-menu-item (click)="signOut()">
        <span>Log out</span>
      </button>
    </mat-menu>
  </div> -->
</div>
