.navbar {
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-sizing: border-box;
  /* Shadow1 */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  &-user {
    font-family: "GT America";
    color: #000000;

    h4 {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 4px;
      font-weight: bold;
      letter-spacing: 0.16px;
    }
    p {
      font-style: italic;
      line-height: 18px;
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 0;
      letter-spacing: 0.16px;
    }
  }
}
