.drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 248px;
  height: calc(100vh);
  left: 0px;
  top: 0px;

  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  &-logo {
    height: 93px;
    border-bottom: 1px solid #ecedee;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-menu {
    padding: 15px 12px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    &-itemlist {
      list-style: none;
      padding: 0;
      li {
        a {
          padding: 14px 12px;
          display: flex;
          align-items: center;
          letter-spacing: 0.16px;
          font-family: "GT America";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: #45494e;
          text-decoration: none;
          .drawer-menu-itemlist-dashboard,
          .drawer-menu-itemlist-phone {
            display: flex;
            svg {
              margin-right: 10px;
            }
          }
          .drawer-menu-itemlist-dashboard {
            path {
              fill: rgb(69, 73, 78);
            }
          }
          .drawer-menu-itemlist-phone {
            path {
              stroke: rgb(69, 73, 78);
            }
          }
          &.active-link {
            background: #f5f6f6;
            border-radius: 4px;
            font-weight: 500;
            color: #0073ff;
            .drawer-menu-itemlist-dashboard {
              path {
                fill: #0073ff;
              }
            }
            .drawer-menu-itemlist-phone {
              path {
                stroke: #0073ff;
              }
            }
          }
        }
      }
    }
  }
}
