.app-container {
  display: grid;
  background-color: #f5f6f6;
  grid-template-columns: 248px 1fr;
  grid-template-rows: 71px 1fr;
  gap: 0px 0px;
  height: 100vh;
  overflow: hidden;
  grid-template-areas:
    "drawer navbar"
    "drawer outlet";
  .navbar {
    grid-area: navbar;
  }
  .drawer {
    grid-area: drawer;
  }
  .outlet {
    grid-area: outlet;
  }
}
