<div class="app-container">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="drawer">
    <app-drawer></app-drawer>
  </div>
  <div class="outlet">
    <router-outlet>
      <app-history></app-history>
    </router-outlet>
  </div>
</div>
