<h1 mat-dialog-title>パスワード変更</h1>

<div mat-dialog-content>
  <p>パスワード変更の案内メールが送信されました。ご確認ください。</p>
  <p>（少し遅延が発生する、もしくは、迷惑メールに分類される可能性があります。）</p>
</div>
<div mat-dialog-actions class="dialog-action">
  <button mat-button mat-dialog-close>閉じる</button>
</div>
