<div class="main-history">
  <div [formGroup]="filterForm">
    <div class="full-card">
      <div class="csv">
        <a href="javascript:void(0)" (click)="dowloadFilter()">Create User <mat-icon>add_box</mat-icon></a>
      </div>
      <div class="search">
        <div class="">
          <mat-form-field appearance="outline" (keydown.enter)="$event.preventDefault()">
            <mat-icon matSuffix class="icon-search">search</mat-icon>
            <input type="tel" matInput placeholder="Input your keyword" formControlName="searchInput" />
          </mat-form-field>
        </div>
      </div>

    </div>
  </div>
  <div class="full-card no-pading">
    <div class="table-box">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="id">#</th>
          <td mat-cell *matCellDef="let element;">
            {{ element.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Lock user</th>
          <td mat-cell *matCellDef="let element">
            <label class="switch">
              <input type="checkbox" (click)="openDialog('locked')" [checked]="element.status == 'Active' ? true : false">
              <span class="slider round"></span>
            </label>
          </td>
        </ng-container>
        <ng-container matColumnDef="records">
          <th mat-header-cell *matHeaderCellDef>DSP Accessibility</th>
          <td mat-cell *matCellDef="let element">
            <label class="switch have-text">
              <input type="checkbox" [checked]="element.status == 'Active' ? true : false">
              <span class="slider round"></span>
            </label>
          </td>
        </ng-container>
        <ng-container matColumnDef="download">
          <th mat-header-cell *matHeaderCellDef class="download-table">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="action-column">
            <button mat-raised-button style="background-color: #000;color: #fff;margin-right: 1rem;" (click)="openDialog('deleted')">Delete</button>
            <button mat-raised-button style="margin-right:20px">View Logs</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div *ngIf="isLoading" class="loading-table">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </div>
      <div class="paginator-box">
        <mat-paginator class="mat-paginator-sticky" [length]="length" aria-label="Select page of periodic elements"
          [pageIndex]="pageIndex - 1" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
          (page)="handlePageEvent($event)" showFirstLastButtons="true">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>