.main-history {
  padding: 16px 24px 0;
  margin-top: 1rem;

  .full-card {
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 18px;
    padding: 19px 16px 14px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    .search {
      margin-right: 24px;
      width: 30%;
    }

    .datepicker {
      width: calc(100% - 50% - 14% + 48px);
      display: flex;
      align-items: center;
      margin-right: 24px;
    }

    .csv {
      background-color: #0060d4;
      padding: 0.625rem;
      border-radius: 0.625rem;

      a {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height */

        letter-spacing: 0.0016em;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
          margin-left: 7.5px;
        }
      }
    }

    >div.table-box {
      width: 100%;
      border-radius: 8px;
      overflow-y: auto;
      max-height: calc(100vh - 71px - 32px - 100px);

      table {
        width: 100%;

        tr {
          th {
            background: #f5f6f6;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: 0.16px;
            text-align: center;
            color: #45494e;

            &:first-child {
              width: 5%;
              padding: 0;
            }
          }

          td {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height, or 129% */

            letter-spacing: 0.16px;
            text-align: center;

            /* Text 1 */

            color: #45494e;
            padding: 15px 0;

            &:first-child {
              padding: 0;
            }

            a {
              color: #0073ff;
              text-decoration: none;
            }
          }
        }
      }

      .loading-table {
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .mat-paginator-sticky {
        bottom: 0px;
        position: sticky;
        z-index: 10;
      }

      .download-url {
        cursor: pointer;
      }
    }
  }
}

::ng-deep {
  .mat-sort-header-container{
    justify-content: center;
  }
  .datepicker {
    .mat-form-field-wrapper {
      width: 100%;
      height: 44px;
      padding: 0;

      .mat-form-field-outline {
        border-radius: 3px;
      }
    }

    .mat-form-field-infix {
      border-top: 6px solid transparent;
    }

    .mat-form-field-appearance-outline {
      .mat-select-arrow-wrapper {
        transform: translateY(-5%);
      }

      .mat-form-field-outline-start,
      .mat-form-field-outline-end {
        border: none !important;
      }
    }

    .mat-select-arrow {
      border-left: 13.75px solid transparent !important;
      border-right: none !important;
      border-top: 7.91px solid transparent !important;
      border-image-source: url("../../../assets/images/arrow.svg") !important;
      border-image-repeat: stretch !important;
    }
  }

  .datepicker {
    .mat-form-field {
      width: 50%;

      &:first-child {
        margin-right: 5px;
      }

      &:last-child {
        margin-left: 5px;
      }
    }

    .mat-form-field-wrapper .mat-form-field-outline {
      background: #f5f6f6;
      height: 45px;
      border: 3px;
    }

    .mat-form-field-appearance-outline {
      .mat-form-field-suffix {
        top: 0.4em;
      }
    }
  }

  .mat-calendar-body-label {
    visibility: hidden;
  }

  .search {
    .mat-form-field {
      width: 100%;
    }

    .mat-form-field-appearance-outline {
      .mat-form-field-wrapper {
        margin: 0;
        width: 100%;
        height: 45px;
        padding: 0;

        .mat-form-field-outline {
          background: #f5f6f6;
          height: 45px;
        }
      }

      .mat-form-field-flex {
        flex-direction: row-reverse;
        height: 45px;
        align-items: center;
        box-sizing: border-box;
      }

      .mat-form-field-outline-start {
        border-radius: 3px 0 0 3px;
        border-color: transparent;
      }

      .mat-form-field-outline-end {
        border-color: transparent;
        border-radius: 0 3px 3px 0;
      }
    }

    .icon-search {
      height: 20px;
    }
  }

  .table-box {
    .mat-paginator-container {
      justify-content: space-between;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
      height: 0;
      width: 40px;
    }

    .mat-form-field-flex {
      width: 40px;
    }

    .mat-paginator-page-size-label,
    .mat-paginator-range-label,
    .mat-select-min-line {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.16px;
      color: #000000;
    }

    .mat-paginator-outer-container {
      border-top: 1px solid #d9dbdd;
    }

    .download-table {
      width: 12%;
    }
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.have-text {
  input:checked+.slider {
    background-color: #2196F3;
  }
}

input:checked+.slider {
  background-color: red;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.have-text {
  .slider {
    background-color: #000;
  }
}

.have-text input {
  position: relative;
  opacity: 1;

  &::before {
    position: absolute;
    top: -3px;
    content: 'OFF';
    z-index: 3;
    color: #fff;
  }

  &:checked::before {

    content: 'ON';
    left: -25px;

  }
}

.action-column {
  display: flex;
  justify-content: space-between;
}