/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: GT America;
  src: url("/assets/fonts/Gt-America-Font/GT America Regular/GT America Regular.otf") format("truetype");
}
@font-face {
  font-family: 'America Bold';
  src: url("/assets/fonts/Gt-America-Font/GT America Bold/GT America Bold.otf") format("truetype");
}
@font-face {
  font-family: 'America Italic';
  src: url("/assets/fonts/Gt-America-Font/GT America Bold Italic/GT America Bold Italic.otf") format("truetype");
}

html, body { height: 100%; }
body { margin: 0; font-family: GT America, "Helvetica Neue", sans-serif !important; }
::ng-deep .mat-body, .mat-body-1, .mat-typography{
  font-family: GT America, "Helvetica Neue", sans-serif !important;
}
.no-pading{padding: 0 !important;}
