@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-blue, 500);
$accent: mat-palette($mat-orange, 200);

$custom-typography: mat-typography-config(
  $font-family: "GT America",
);
$theme: mat-light-theme($primary, $accent);
@include angular-material-typography($custom-typography);
@include angular-material-theme($theme);
